---
import { getLangFromUrl, useTranslations } from "../i18n/utils";


const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="reviews-566">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">{ t("rev.our")}</span>
            <h2 class="cs-title">{ t("rev.what")}</h2>
            <p class="cs-text">
                { t("rev.here")}
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/stars3.svg" decoding="async" alt="quote icon" width="189" height="24">
                <p class="cs-item-text">
                    { t("rev.love")}
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/Martin.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Martin Luther King
                        <span class="cs-job">{ t("rev.minister")}</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/stars3.svg" decoding="async" alt="quote icon" width="189" height="24">
                <p class="cs-item-text">
                    { t("rev.excellent")}
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/Samu.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Samuel de Luque
                        <span class="cs-job">{ t("rev.streamer")}</span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</section>

<style>
@media only screen and (min-width: 0rem) {
    #reviews-566 {
        padding: var(--sectionPadding);
    }
    #reviews-566 .cs-container {
        width: 100%;
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: clamp(3rem, 6vw, 4rem);
    }
    #reviews-566 .cs-content {
        text-align: left;
        width: 100%;
        max-width: 32.625rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #reviews-566 .cs-card-group {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: clamp(1rem, 2.5vw, 1.15rem);
    }
    #reviews-566 .cs-item {
        list-style: none;
        width: 100%;
        max-width: 39.375rem;
        padding: clamp(2rem, 6.15vw, 3.75rem) clamp(1rem, 4.15vw, 3rem);
        background-color: #f1f1f4;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
    }
    #reviews-566 .cs-stars {
        width: clamp(10.5625rem, 20vw, 11.8125rem);
        height: auto;
        margin-bottom: clamp(1.25rem, 3vw, 1.5rem);
        display: block;
    }
    #reviews-566 .cs-item-text {
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        margin: 0;
        margin-bottom: clamp(2.5rem, 8vw, 4rem);
        color: var(--bodyTextColor);
    }
    #reviews-566 .cs-flex-group {
        margin-top: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.25rem;
    }
    #reviews-566 .cs-profile {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        display: block;
    }
    #reviews-566 .cs-profile img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #reviews-566 .cs-name {
        font-size: clamp(1rem, 2vw, 1.25rem);
        line-height: 1.5em;
        font-weight: 700;
        margin: 0 0 0.5rem 0;
        color: var(--headerColor);
        display: block;
    }
    #reviews-566 .cs-job {
        font-size: clamp(0.8125rem, 1.6vw, 1rem);
        line-height: 1.2em;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        margin: 0;
        color: var(--bodyTextColor);
        display: block;
    }
}
@media only screen and (min-width: 48em) {
    #reviews-566 .cs-container {
        max-width: 80rem;
    }
    #reviews-566 .cs-card-group {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
}
</style>